button {
	/* border: none; */
}

/* Time stuff */

#time {
	display: none;
}

#time.isActive {
	display: block;
}

#time #timeSelect {
	display: none;
}

#time.is24Hrs #timeSelect {
	display: block;
}

#time.is24Hrs #_timeSelect {
	display: none;
}
