button {
	/* border: none; */
}

ul li input[type='text'] {
	display: none;
}

ul li.isEditing input[type='text'] {
	display: block;
}

ul li.isEditing label {
	display: none;
}

/* Time stuff */

#time #timeSelect {
	display: none;
}

#time.is24Hrs #timeSelect {
	display: block;
}

#time.is24Hrs #_timeSelect {
	display: none;
}
