@import url('reset.css');
@import url('vars.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

:root {
	font-size: 16px;
}

body {
	color: var(--color-text);
	font-family: 'Inter', sans-serif;
	background: var(--color-background);
}

/* Typography */

h1 {
	margin: 0 0 8px 0;
}

h2 {
	margin: 0 0 1rem 0;
	color: var(--color-text-primary);
	font-size: 1.2rem;
}

h3 {
	width: 75%;
	font-size: 0.9rem;
	line-height: 1.5em;
}

h3.description {
	margin-bottom: 16px;
}

/* Layout */

section {
	margin-bottom: 32px;
	padding: 32px 32px 36px 32px;
	background: var(--color-foreground);
	border-radius: 24px;
}

/* Content */

ul {
	--icon-size: 16px;
	padding-bottom: 24px;
}

ul > li {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 16px 16px calc(var(--icon-size) + 32px);
}

ul > li label {
	color: var(--color-text-primary);
}

ul > li:hover {
	background: var(--color-highlight);
	border-radius: 8px;
}

ul > li::before {
	position: absolute;
	left: 16px;
	display: block;
	width: var(--icon-size);
	height: var(--icon-size);
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.72 12.312C12.512 11.672 11.912 11.2 11.2 11.2H10.4V8.8C10.4 8.58783 10.3157 8.38434 10.1657 8.23431C10.0157 8.08429 9.81217 8 9.6 8H4.8V6.4H6.4C6.61217 6.4 6.81566 6.31571 6.96569 6.16569C7.11571 6.01566 7.2 5.81217 7.2 5.6V4H8.8C9.22435 4 9.63131 3.83143 9.93137 3.53137C10.2314 3.23131 10.4 2.82435 10.4 2.4V2.072C12.744 3.016 14.4 5.312 14.4 8C14.4 9.664 13.76 11.176 12.72 12.312ZM7.2 14.344C4.04 13.952 1.6 11.264 1.6 8C1.6 7.504 1.664 7.024 1.768 6.568L5.6 10.4V11.2C5.6 11.6243 5.76857 12.0313 6.06863 12.3314C6.36869 12.6314 6.77565 12.8 7.2 12.8V14.344ZM8 0C6.94943 0 5.90914 0.206926 4.93853 0.608964C3.96793 1.011 3.08601 1.60028 2.34315 2.34315C0.842855 3.84344 0 5.87827 0 8C0 10.1217 0.842855 12.1566 2.34315 13.6569C3.08601 14.3997 3.96793 14.989 4.93853 15.391C5.90914 15.7931 6.94943 16 8 16C10.1217 16 12.1566 15.1571 13.6569 13.6569C15.1571 12.1566 16 10.1217 16 8C16 6.94943 15.7931 5.90914 15.391 4.93853C14.989 3.96793 14.3997 3.08601 13.6569 2.34315C12.914 1.60028 12.0321 1.011 11.0615 0.608964C10.0909 0.206926 9.05058 0 8 0V0Z' fill='white'/%3E%3C/svg%3E%0A");
	opacity: 0.4;
	content: '';
}

/* Button */

button {
	padding: 8px 16px;
	color: var(--color-text);
	font-weight: 500;
	font-size: 0.875rem;
	font-family: 'Inter', sans-serif;
	background: none;
	border: none;
	border-radius: 6px;
	outline: none;
	cursor: pointer;
}

button.primary {
	color: var(--color-text-primary);
	background: var(--color-accent);
}

button.primary:hover {
	background: var(--color-accent-hover);
}

button.secondary {
	color: var(--color-text-secondary);
	background: var(--color-background);
}

button.delete {
	background: var(--color-background);
	opacity: 0.4;
	transition: opacity 0.2s color 0.2s;
}

button.delete:hover {
	color: var(--color-text-destructive);
	opacity: 1;
}

/* Input */

input[type='text'] {
	width: 100%;
	padding: 12px 20px;
	color: var(--color-text-primary);
	font-size: 1rem;
	background: var(--color-highlight);
	border: none;
	border-radius: 96px;
	outline: none;
}

input[type='text']::placeholder {
	color: var(--color-text-secondary);
}

input[type='checkbox'] {
	width: 24px;
	height: 24px;
	margin-right: 16px;
	border-radius: 24px;
	/* border: 2px solid var(--color-foreground); */
	box-shadow: inset 0px 0px 0px 4px var(--color-foreground);
	appearance: none;
}

input[type='checkbox']:checked {
	position: relative;
	background: var(--color-accent);
	box-shadow: none;
}

input[type='checkbox']:checked::after {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 24px;
	height: 24px;
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='18' viewBox='0 0 24 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.37502 10.6586C9.29478 10.7367 9.1649 10.7367 9.08466 10.6586L3.6886 5.40014L0 8.9986L5.39422 14.26L9.22984 18L24 3.59576L20.3086 0L9.37502 10.6586Z' fill='white'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60%;
	content: '';
}

select {
	padding: 12px 20px;
	color: var(--color-text-primary);
	font-size: 1.1rem;
	background: var(--color-highlight);
	border: none;
	border-radius: 24px;
	outline: none;
	appearance: none;
}

select::after {
	content: '';
}

select::-webkit-scrollbar {
	background: var(--color-highlight);
}

select::-webkit-scrollbar-track {
	background-color: var(--color-highlight);
}

select::-webkit-scrollbar-thumb {
	background-color: var(--color-foreground);
	border: 6px solid var(--color-highlight);
	border-radius: 16px;
}

/* Layout utility */

.container {
	max-width: 480px;
	margin: 0 auto;
}

section.hollow {
	background: var(--color-background);
	box-shadow: inset 0 0 0 4px var(--color-foreground);
}

/* section.hollow:hover {
	box-shadow: inset 0 0 0 20rem var(--color-foreground);
} */

section.is-visible {
	background: var(--color-foreground) !important;
	border: none !important;
}

.hidden {
	display: none;
}

.is-visible {
	display: block !important;
}

/* Utility classes */

.flex {
	display: flex;
	gap: 12px;
	width: 100%;
}

.flex.col {
	flex-direction: column;
}

.hint {
	padding-top: 16px;
	font-size: 0.8rem;
	line-height: 1.45;
	text-align: center;
	opacity: 0.6;
}

.sub-text {
	font-size: 0.9rem;
	text-align: center;
	opacity: 0.6;
}
