@import url('reset.css');
@import url('vars.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

:root {
	font-size: 16px;
}

body {
	color: var(--color-text);
	font-family: 'Inter', sans-serif;
	background: var(--color-background);
}

/* Typography */

h1 {
	margin: 0 0 8px 0;
}

h2 {
	margin: 0 0 1rem 0;
	color: var(--color-text-primary);
	font-size: 1.2rem;
}

h3 {
	width: 75%;
	font-size: 0.9rem;
	line-height: 1.5em;
}

h3.description {
	margin-bottom: 16px;
}

em {
	color: var(--color-text-primary);
}

/* Layout */

section {
	margin-bottom: 2rem;
	padding: 2rem;
	color: var(--color-text-secondary);
	background: var(--color-foreground);
	border-radius: 1.5rem;
}

.separator {
	display: block;
	width: 100%;
	height: 1px;
	margin: 16px 0;
	border-bottom: 1px solid var(--color-highlight);
}

footer {
	padding: 1rem 0 2rem 0;
	line-height: 1.75;
	font-size: 0.7rem;
	text-align: center;
}

footer a {
	color: var(--color-text-secondary);
}

footer a:hover {
	color: var(--color-text);
}

footer ul {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
	padding: 0;
}

footer ul li:hover {
	background: none;
}

footer ul li {
	padding: 0;
}

/* Content */

button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 16px;
	color: var(--color-text);
	font-weight: 500;
	font-size: 0.875rem;
	font-family: 'Inter', sans-serif;
	white-space: nowrap;
	background: none;
	border: none;
	border-radius: 6px;
	outline: none;
	cursor: pointer;
}

button.primary {
	color: var(--color-text-primary);
	background: var(--color-accent);
}

button.primary:hover {
	background: var(--color-accent-hover);
}

button.secondary {
	color: var(--color-text-secondary);
	background: var(--color-background);
}

button.delete {
	background: var(--color-background);
	opacity: 0.4;
	transition: opacity 0.2s color 0.2s;
}

button.delete:hover {
	color: var(--color-text-destructive);
	opacity: 1;
}

button.add::before {
	display: block;
	width: 16px;
	height: 16px;
	margin-right: 8px;
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 8C16 12.4183 12.4185 16 8 16C3.58154 16 0 12.4183 0 8C0 3.58173 3.58154 0 8 0C12.4185 0 16 3.58173 16 8ZM7 7V4H9V7H12V9H9V12H7V9H4V7H7Z' fill='white'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	content: '';
}

/* Input */

input[type='text'] {
	width: 100%;
	padding: 12px 20px;
	color: var(--color-text-primary);
	font-size: 1rem;
	background: var(--color-highlight);
	border: none;
	border-radius: 96px;
	outline: none;
}

input[type='text']::placeholder {
	color: var(--color-text-secondary);
}

input[type='checkbox'] {
	width: 24px;
	height: 24px;
	margin-right: 16px;
	border-radius: 24px;
	box-shadow: inset 0px 0px 0px 4px var(--color-foreground);
	appearance: none;
}

input[type='checkbox']:checked {
	position: relative;
	background: var(--color-accent);
	box-shadow: none;
}

input[type='checkbox']:checked::after {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 24px;
	height: 24px;
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='18' viewBox='0 0 24 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.37502 10.6586C9.29478 10.7367 9.1649 10.7367 9.08466 10.6586L3.6886 5.40014L0 8.9986L5.39422 14.26L9.22984 18L24 3.59576L20.3086 0L9.37502 10.6586Z' fill='white'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60%;
	content: '';
}

select {
	padding: 12px 20px;
	color: var(--color-text-primary);
	font-size: 1.1rem;
	background: var(--color-highlight);
	border: none;
	border-radius: 24px;
	outline: none;
	appearance: none;
}

select::after {
	content: '';
}

select::-webkit-scrollbar {
	background: var(--color-highlight);
}

select::-webkit-scrollbar-track {
	background-color: var(--color-highlight);
}

select::-webkit-scrollbar-thumb {
	background-color: var(--color-foreground);
	border: 6px solid var(--color-highlight);
	border-radius: 16px;
}

/* Layout utility */

.container {
	max-width: 480px;
	margin: 0 auto;
}

section.hollow {
	background: var(--color-background);
	box-shadow: inset 0 0 0 4px var(--color-foreground);
}

section.is-visible {
	background: var(--color-foreground) !important;
	border: none !important;
}

/* Utility classes */

.flex {
	display: flex;
	gap: 12px;
	width: 100%;
}

.flex.col {
	flex-direction: column;
}

.hint {
	padding-top: 8px;
	font-size: 0.8rem;
	line-height: 1.45;
	text-align: center;
	opacity: 0.6;
}

.sub-text {
	font-size: 0.9rem;
	text-align: center;
	opacity: 0.6;
}

/* Custom */

.tip {
	display: flex;
}
.tip::before {
	display: block;
	flex-shrink: 0;
	width: 2.5rem;
	height: 2.5rem;
	margin-right: 1rem;
	background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='20' cy='20' r='20' fill='%233A3B3C'/%3E%3Cpath d='M17 26.5V27.8436C17.0033 28.6819 17.3209 29.4848 17.8831 30.0763C18.4454 30.6679 19.2065 31 20 31C20.7935 31 21.5546 30.6679 22.1169 30.0763C22.6791 29.4848 22.9967 28.6819 23 27.8436V26.5H17ZM20.8432 28.7642H19.1568C19.0394 28.7642 18.9269 28.715 18.8439 28.6273C18.7609 28.5396 18.7143 28.4206 18.7143 28.2966C18.7143 28.1726 18.7609 28.0537 18.8439 27.966C18.9269 27.8783 19.0394 27.829 19.1568 27.829H20.8432C20.9606 27.829 21.0731 27.8783 21.1561 27.966C21.2391 28.0537 21.2857 28.1726 21.2857 28.2966C21.2857 28.4206 21.2391 28.5396 21.1561 28.6273C21.0731 28.715 20.9605 28.7642 20.8432 28.7642Z' fill='%23E8E7F0'/%3E%3Cpath d='M16.7675 10.9822C17.7327 10.3403 18.8545 9.9995 20 10C21.1455 9.9995 22.2673 10.3403 23.2325 10.9822C24.1977 11.624 24.9661 12.54 25.4467 13.6218C25.9273 14.7037 26.1 15.9061 25.9444 17.0868C25.7889 18.2676 25.3116 19.3773 24.5689 20.2847C23.5018 21.6129 23.0689 23.2704 23 25H17C16.9311 23.2704 16.4982 21.6129 15.4311 20.2847C14.6884 19.3773 14.2111 18.2676 14.0556 17.0868C13.9 15.9061 14.0727 14.7037 14.5533 13.6218C15.0339 12.54 15.8023 11.624 16.7675 10.9822Z' fill='%23FFD02F'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	content: '';
}

.tip h3 {
	margin-bottom: 0.25rem;
	color: var(--color-text-primary);
	font-size: 1rem;
}

.tip p {
	opacity: 0.6;
	padding: 0 0 1rem 0 !important;
}

.logo {
	display: inline-block;
	padding: 32px;
	background: var(--color-foreground);
	border-radius: 48px;
}

.logo .o {
	position: relative;
	transform: translateX(-6px);
}

.logo .o,
.logo .o::after {
	width: 64px;
	height: 64px;
	background: linear-gradient(
		190deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	border-radius: 100%;
	transition: transform 0.6s;
}

.logo .o::after {
	content: '';
	position: absolute;
	left: 12px;
}

.logo:hover .o {
	transform: translateX(0px);
}
.logo:hover .o::after {
	transform: translateX(-12px);
}
