/**
 *	@file Stylesheet for onboarding page.
 */

@import url('base.css');

header {
	display: flex;
	justify-content: space-between;
	padding: 2rem 0;
	font-size: 1rem;
}

header .logo {
	display: inline-block;
	padding: 32px;
	background: var(--color-foreground);
	border-radius: 48px;
}

header .logo .o {
	width: 64px;
	height: 64px;
	background: #eee;
	border-radius: 100%;
}

.intro {
	padding: 3rem 0 5rem 0;
}

.intro p {
	font-size: 1.125rem;
	line-height: 1.4;
}

.step {
	padding: 1.6rem 1.6rem 2rem 1.6rem;
}

.step p {
	padding: 1rem 0 2rem 0;
	font-size: 0.9rem;
	line-height: 1.5em;
}

.step p svg {
	margin: 0 0.4em;
}

.step button {
	display: inline-flex;
	margin: 0 0.25rem;
	padding: 6px 8px;
	font-size: 0.75rem;
	vertical-align: baseline;
}

.step-heading {
	display: flex;
	align-items: center;
	line-height: 1.5;
}

.step-heading::before {
	display: block;
	width: 2.5rem;
	height: 2.5rem;
	margin-right: 0.875rem;
	color: #fff;
	line-height: 2.5rem;
	text-align: center;
	background: var(--color-highlight);
	border-radius: 100%;
	content: attr(data-step);
}

.illustrations {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	width: 100%;
}

.illustrations span {
	position: relative;
	line-height: 0;
}

.illustrations :first-child::before,
.illustrations :last-child::before {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	z-index: 1000;
	width: 1.5rem;
	height: 1.5rem;
	color: var(--color-text-primary);
	font-size: 0.75rem;
	line-height: 1.5rem;
	text-align: center;
	background: var(--color-background);
	border-radius: 100%;
	opacity: 0.5;
}

.illustrations :first-child::before {
	content: '1';
}
.illustrations :last-child::before {
	content: '2';
}

.illustrations svg {
	position: relative;
	border: 1px solid var(--color-highlight);
	border-radius: 0.5rem;
}
