/**
 *	@file Stylesheet for options page.
 */

@import url('base.css');

header {
	font-size: 1rem;
	padding: 2rem 0;
	display: flex;
	justify-content: space-between;
}

header .logo {
	background: var(--color-foreground);
	padding: 32px;
	border-radius: 48px;
	display: inline-block;
}

header .logo .o {
	height: 64px;
	width: 64px;
	background: #eee;
	border-radius: 100%;
}

.manage-time-toggle {
	font-size: 1.2rem;
	margin: 0 0 1rem 0;
	display: flex;
	align-items: center;
	color: var(--color-font-primary);
}

/* #add-url-button {
	width: 0px;
	opacity: 0;
	transition:  opacity 0.2s;
}

#add-url-button.is-visible {
	opacity: 1;
	width: 40px;
} */

/* #time-edit-container {
	display: none;
}

#time-edit-container.is-visible {
	display: block;
} */
