/**
 * @file Stylesheet for tab bar popup
 */

@import url('base.css');

.popup {
	padding: 24px;
	background: var(--color-foreground);
}

/* h1 {
	margin: 0 0 1rem 0;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1;
}

p {
	text-align: center;
} */

.action-prohibited,
.add-website,
.remove-website {
	display: none;
}

.action-prohibited.is-visible,
.add-website.is-visible,
.remove-website.is-visible {
	display: inline-block;
	white-space: nowrap;
}

.add-website button,
.remove-website button {
	margin: 8px 0;
}

.remove-website button {
	width: 100%;
	color: var(--color-text-primary);
	background: var(--color-highlight);
}

/* 
button {
	width: 100%;
	padding: 12px 24px;
	color: var(--color-white);
	background: var(--color-accent);
	border: none;
	border-radius: 14px;
	outline: none;
}

button:hover {
	box-shadow: inset 20em 20em rgba(255, 255, 255, 0.2);
}

.sub-text {
	font-size: 0.7rem;
	opacity: 0.7;
} */
